

.post-content {
    font-family: 'Vazir';
    font-size: 18px;
    line-height: 2;
}

.entry-conten{
    margin-top: 50px;
}


@media print { * { text-shadow: none !important; color: #000 !important; background: transparent !important; box-shadow: none !important; }
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }

    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
    select { background: #fff !important; }
    .navbar { display: none; }
    .table td, .table th { background-color: #fff !important; }
    .btn > .caret, .dropup > .btn > .caret { border-top-color: #000 !important; }
    .label { border: 1px solid #000; }
    .table { border-collapse: collapse !important; }
    .table-bordered th, .table-bordered td { border: 1px solid #ddd !important; } }
*, *:before, *:after { box-sizing: border-box; }

body { direction: rtl; unicode-bidi: embed; overflow-x: hidden; font-family: 'WebYekan', Tahoma; font-size: 13px; line-height: 1.5; color: #40454a; background-color: #f3f4f4; }

a { color: #428bca; text-decoration: none; }
a:hover, a:focus { color: #2a6496; text-decoration: underline; }
a:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }

hr { margin-top: 19px; margin-bottom: 19px; border: 0; border-top: 1px solid #eeeeee; }

.container { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
.container:before, .container:after { content: " "; /* 1 */ display: table; /* 2 */ }
.container:after { clear: both; }

.row { margin-left: -15px; margin-right: -15px; }
.row:before, .row:after { content: " "; /* 1 */ display: table; /* 2 */ }
.row:after { clear: both; }

.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; }

.col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6, .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1 { float: left; }



.col-xs-9 { width: 75%; }

.col-xs-10 { width: 83.33333%; }

.col-xs-11 { width: 91.66667%; }

.col-xs-12 { width: 100%; }

.col-xs-pull-0 { right: 0%; }

.col-xs-pull-1 { right: 8.33333%; }

.col-xs-pull-2 { right: 16.66667%; }

.col-xs-pull-3 { right: 25%; }

.col-xs-pull-4 { right: 33.33333%; }

.col-xs-pull-5 { right: 41.66667%; }

.col-xs-pull-6 { right: 50%; }

.col-xs-pull-7 { right: 58.33333%; }

.col-xs-pull-8 { right: 66.66667%; }

.col-xs-pull-9 { right: 75%; }

.col-xs-pull-10 { right: 83.33333%; }

.col-xs-pull-11 { right: 91.66667%; }

.col-xs-pull-12 { right: 100%; }

.col-xs-push-0 { left: 0%; }

.col-xs-push-1 { left: 8.33333%; }

.col-xs-push-2 { left: 16.66667%; }

.col-xs-push-3 { left: 25%; }

.col-xs-push-4 { left: 33.33333%; }

.col-xs-push-5 { left: 41.66667%; }

.col-xs-push-6 { left: 50%; }

.col-xs-push-7 { left: 58.33333%; }

.col-xs-push-8 { left: 66.66667%; }

.col-xs-push-9 { left: 75%; }

.col-xs-push-10 { left: 83.33333%; }

.col-xs-push-11 { left: 91.66667%; }

.col-xs-push-12 { left: 100%; }

.col-xs-offset-0 { margin-left: 0%; }

.col-xs-offset-1 { margin-left: 8.33333%; }

.col-xs-offset-2 { margin-left: 16.66667%; }

.col-xs-offset-3 { margin-left: 25%; }

.col-xs-offset-4 { margin-left: 33.33333%; }

.col-xs-offset-5 { margin-left: 41.66667%; }

.col-xs-offset-6 { margin-left: 50%; }

.col-xs-offset-7 { margin-left: 58.33333%; }

.col-xs-offset-8 { margin-left: 66.66667%; }

.col-xs-offset-9 { margin-left: 75%; }

.col-xs-offset-10 { margin-left: 83.33333%; }

.col-xs-offset-11 { margin-left: 91.66667%; }

.col-xs-offset-12 { margin-left: 100%; }

@media (min-width: 768px) { .container { width: 750px; }
    .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1 { float: right; }
    .col-sm-1 { width: 8.33333%; }
    .col-sm-2 { width: 16.66667%; }
    .col-sm-3 { width: 25%; }
    .col-sm-4 { width: 33.33333%; }
    .col-sm-5 { width: 41.66667%; }
    .col-sm-6 { width: 50%; }
    .col-sm-7 { width: 58.33333%; }
    .col-sm-8 { width: 66.66667%; }
    .col-sm-9 { width: 75%; }
    .col-sm-10 { width: 83.33333%; }
    .col-sm-11 { width: 91.66667%; }
    .col-sm-12 { width: 100%; }
    .col-sm-pull-0 { right: 0%; }
    .col-sm-pull-1 { right: 8.33333%; }
    .col-sm-pull-2 { right: 16.66667%; }
    .col-sm-pull-3 { right: 25%; }
    .col-sm-pull-4 { right: 33.33333%; }
    .col-sm-pull-5 { right: 41.66667%; }
    .col-sm-pull-6 { right: 50%; }
    .col-sm-pull-7 { right: 58.33333%; }
    .col-sm-pull-8 { right: 66.66667%; }
    .col-sm-pull-9 { right: 75%; }
    .col-sm-pull-10 { right: 83.33333%; }
    .col-sm-pull-11 { right: 91.66667%; }
    .col-sm-pull-12 { right: 100%; }
    .col-sm-push-0 { left: 0%; }
    .col-sm-push-1 { left: 8.33333%; }
    .col-sm-push-2 { left: 16.66667%; }
    .col-sm-push-3 { left: 25%; }
    .col-sm-push-4 { left: 33.33333%; }
    .col-sm-push-5 { left: 41.66667%; }
    .col-sm-push-6 { left: 50%; }
    .col-sm-push-7 { left: 58.33333%; }
    .col-sm-push-8 { left: 66.66667%; }
    .col-sm-push-9 { left: 75%; }
    .col-sm-push-10 { left: 83.33333%; }
    .col-sm-push-11 { left: 91.66667%; }
    .col-sm-push-12 { left: 100%; }
    .col-sm-offset-0 { margin-left: 0%; }
    .col-sm-offset-1 { margin-left: 8.33333%; }
    .col-sm-offset-2 { margin-left: 16.66667%; }
    .col-sm-offset-3 { margin-left: 25%; }
    .col-sm-offset-4 { margin-left: 33.33333%; }
    .col-sm-offset-5 { margin-left: 41.66667%; }
    .col-sm-offset-6 { margin-left: 50%; }
    .col-sm-offset-7 { margin-left: 58.33333%; }
    .col-sm-offset-8 { margin-left: 66.66667%; }
    .col-sm-offset-9 { margin-left: 75%; }
    .col-sm-offset-10 { margin-left: 83.33333%; }
    .col-sm-offset-11 { margin-left: 91.66667%; }
    .col-sm-offset-12 { margin-left: 100%; } }
@media (min-width: 992px) { .container { width: 970px; }
    .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1 { float: left; }
    .col-md-1 { width: 8.33333%; }
    .col-md-2 { width: 16.66667%; }
    .col-md-3 { width: 25%; }
    .col-md-4 { width: 33.33333%; }
    .col-md-5 { width: 41.66667%; }
    .col-md-6 { width: 50%; }
    .col-md-7 { width: 58.33333%; }
    .col-md-8 { width: 66.66667%; }
    .col-md-9 { width: 75%; }
    .col-md-10 { width: 83.33333%; }
    .col-md-11 { width: 91.66667%; }
    .col-md-12 { width: 100%; }
    .col-md-pull-0 { right: 0%; }
    .col-md-pull-1 { right: 8.33333%; }
    .col-md-pull-2 { right: 16.66667%; }
    .col-md-pull-3 { right: 25%; }
    .col-md-pull-4 { right: 33.33333%; }
    .col-md-pull-5 { right: 41.66667%; }
    .col-md-pull-6 { right: 50%; }
    .col-md-pull-7 { right: 58.33333%; }
    .col-md-pull-8 { right: 66.66667%; }
    .col-md-pull-9 { right: 75%; }
    .col-md-pull-10 { right: 83.33333%; }
    .col-md-pull-11 { right: 91.66667%; }
    .col-md-pull-12 { right: 100%; }
    .col-md-push-0 { left: 0%; }
    .col-md-push-1 { left: 8.33333%; }
    .col-md-push-2 { left: 16.66667%; }
    .col-md-push-3 { left: 25%; }
    .col-md-push-4 { left: 33.33333%; }
    .col-md-push-5 { left: 41.66667%; }
    .col-md-push-6 { left: 50%; }
    .col-md-push-7 { left: 58.33333%; }
    .col-md-push-8 { left: 66.66667%; }
    .col-md-push-9 { left: 75%; }
    .col-md-push-10 { left: 83.33333%; }
    .col-md-push-11 { left: 91.66667%; }
    .col-md-push-12 { left: 100%; }
    .col-md-offset-0 { margin-left: 0%; }
    .col-md-offset-1 { margin-left: 8.33333%; }
    .col-md-offset-2 { margin-left: 16.66667%; }
    .col-md-offset-3 { margin-left: 25%; }
    .col-md-offset-4 { margin-left: 33.33333%; }
    .col-md-offset-5 { margin-left: 41.66667%; }
    .col-md-offset-6 { margin-left: 50%; }
    .col-md-offset-7 { margin-left: 58.33333%; }
    .col-md-offset-8 { margin-left: 66.66667%; }
    .col-md-offset-9 { margin-left: 75%; }
    .col-md-offset-10 { margin-left: 83.33333%; }
    .col-md-offset-11 { margin-left: 91.66667%; }
    .col-md-offset-12 { margin-left: 100%; } }
@media (min-width: 1200px) { .container { width: 1170px; }
    .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1 { float: left; }
    .col-lg-1 { width: 8.33333%; }
    .col-lg-2 { width: 16.66667%; }
    .col-lg-3 { width: 25%; }
    .col-lg-4 { width: 33.33333%; }
    .col-lg-5 { width: 41.66667%; }
    .col-lg-6 { width: 50%; }
    .col-lg-7 { width: 58.33333%; }
    .col-lg-8 { width: 66.66667%; }
    .col-lg-9 { width: 75%; }
    .col-lg-10 { width: 83.33333%; }
    .col-lg-11 { width: 91.66667%; }
    .col-lg-12 { width: 100%; }
    .col-lg-pull-0 { right: 0%; }
    .col-lg-pull-1 { right: 8.33333%; }
    .col-lg-pull-2 { right: 16.66667%; }
    .col-lg-pull-3 { right: 25%; }
    .col-lg-pull-4 { right: 33.33333%; }
    .col-lg-pull-5 { right: 41.66667%; }
    .col-lg-pull-6 { right: 50%; }
    .col-lg-pull-7 { right: 58.33333%; }
    .col-lg-pull-8 { right: 66.66667%; }
    .col-lg-pull-9 { right: 75%; }
    .col-lg-pull-10 { right: 83.33333%; }
    .col-lg-pull-11 { right: 91.66667%; }
    .col-lg-pull-12 { right: 100%; }
    .col-lg-push-0 { left: 0%; }
    .col-lg-push-1 { left: 8.33333%; }
    .col-lg-push-2 { left: 16.66667%; }
    .col-lg-push-3 { left: 25%; }
    .col-lg-push-4 { left: 33.33333%; }
    .col-lg-push-5 { left: 41.66667%; }
    .col-lg-push-6 { left: 50%; }
    .col-lg-push-7 { left: 58.33333%; }
    .col-lg-push-8 { left: 66.66667%; }
    .col-lg-push-9 { left: 75%; }
    .col-lg-push-10 { left: 83.33333%; }
    .col-lg-push-11 { left: 91.66667%; }
    .col-lg-push-12 { left: 100%; }
    .col-lg-offset-0 { margin-left: 0%; }
    .col-lg-offset-1 { margin-left: 8.33333%; }
    .col-lg-offset-2 { margin-left: 16.66667%; }
    .col-lg-offset-3 { margin-left: 25%; }
    .col-lg-offset-4 { margin-left: 33.33333%; }
    .col-lg-offset-5 { margin-left: 41.66667%; }
    .col-lg-offset-6 { margin-left: 50%; }
    .col-lg-offset-7 { margin-left: 58.33333%; }
    .col-lg-offset-8 { margin-left: 66.66667%; }
    .col-lg-offset-9 { margin-left: 75%; }
    .col-lg-offset-10 { margin-left: 83.33333%; }
    .col-lg-offset-11 { margin-left: 91.66667%; }
    .col-lg-offset-12 { margin-left: 100%; } }

a { color: #51ab6d; border-bottom: 1px dotted #666660; }
a:hover { color: #418857; text-decoration: none; }






.push-down-30 { margin-bottom: 30px; margin-top: 30px;background: #fff}



.widget_pages, .widget_archive, .widget_meta, .widget_categories { font-family: "Lato", sans-serif; font-size: 14px; font-weight: bold; color: #666660; }
.widget_pages ul, .widget_archive ul, .widget_meta ul, .widget_categories ul { list-style: none; padding: 0; background-color: #f3f4f4; border: 1px solid #dfe2e4; border-radius: 3px; }
.widget_pages ul li, .widget_archive ul li, .widget_meta ul li, .widget_categories ul li { position: relative; padding: 15px 20px 0; border-bottom: 1px solid #dfe2e4; min-height: 36px; }
.widget_pages ul li a, .widget_archive ul li a, .widget_meta ul li a, .widget_categories ul li a { transition: all 0.1s linear; border-bottom: none; display: inline-block; margin-bottom: 15px; }
.widget_pages ul li a::after, .widget_archive ul li a::after, .widget_meta ul li a::after, .widget_categories ul li a::after { transition: all 0.1s linear; position: absolute; content: "\e080"; font-family: "Glyphicons Halflings"; font-weight: normal; color: #c6c7c2; left: 5px; top: 15px; }
.widget_pages ul li:hover a:after, .widget_archive ul li:hover a:after, .widget_meta ul li:hover a:after, .widget_categories ul li:hover a:after { color: #666660; }
.widget_pages ul li:last-child, .widget_archive ul li:last-child, .widget_meta ul li:last-child, .widget_categories ul li:last-child { border-bottom: none; }
.widget_pages ul .children, .widget_archive ul .children, .widget_meta ul .children, .widget_categories ul .children { border: none; }
.widget_pages ul .children li, .widget_archive ul .children li, .widget_meta ul .children li, .widget_categories ul .children li { padding: 0 0 0 8%; border-bottom: none; }
.widget_pages ul .children li a:after, .widget_archive ul .children li a:after, .widget_meta ul .children li a:after, .widget_categories ul .children li a:after { display: none; }
.widget_pages .widget-categories__text, .widget_archive .widget-categories__text, .widget_meta .widget-categories__text, .widget_categories .widget-categories__text { color: #666660; }

.menu-testing-menu-container hr, .widget_rss hr, .widget_recent_entries hr, .widget_recent_comments hr { display: none; }
.menu-testing-menu-container h6, .widget_rss h6, .widget_recent_entries h6, .widget_recent_comments h6 { margin-bottom: 10px; }
.menu-testing-menu-container ul, .widget_rss ul, .widget_recent_entries ul, .widget_recent_comments ul { list-style: none; padding: 0; color: #666660; font-family: "Lato", sans-serif; font-weight: bold; }
.menu-testing-menu-container ul li, .widget_rss ul li, .widget_recent_entries ul li, .widget_recent_comments ul li { border-top: 1px solid #e0e0e0; padding: 10px 0;font-size: 12px}
.menu-testing-menu-container ul li a, .widget_rss ul li a, .widget_recent_entries ul li a, .widget_recent_comments ul li a { border: none; }

.widget_search { font-family: "Lato", sans-serif; }
.widget_search .search-form { display: -ms-flexbox; display: flex; }
.widget_search .search-form label { width: 100%; margin-left: 10px; margin-bottom: 0; }
.widget_search .screen-reader-text { display: none; }
.widget_search .search-submit, .widget_search .search-field { border: 1px solid #dfe2e4; border-radius: 3px; padding: 8px 10px; }
.widget_search .search-field { background-color: #f8f9fa; width: 100%; }
.widget_search .search-field:focus { background-color: #fff; }
.widget_search .search-submit { border: none; background-color: #51ab6d; color: #fff; }

.meta { margin-bottom: 30px; }

.has-post-thumbnail .meta { position: relative; }
.has-post-thumbnail .meta__container { color: #999; }
@media (min-width: 768px) { .has-post-thumbnail .meta__container { position: absolute; bottom: 0; left: 0; right: 0; background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.75)); color: #e4e4e4; padding: 65px 30px 15px 20px; } }
.has-post-thumbnail .meta__container a { color: #999; }
@media (min-width: 768px) { .has-post-thumbnail .meta__container a { color: #e4e4e4; } }
.has-post-thumbnail .meta__container a:hover { border-bottom-color: #999; }
@media (min-width: 768px) { .has-post-thumbnail .meta__container a:hover { border-bottom-color: #e4e4e4; } }

.meta--full-width { margin-top: -45px; }
.meta--full-width .wp-post-image { border-top-right-radius: 0; border-top-left-radius: 0; }

.meta__container { border-bottom: 1px solid #e4e4e4; color: #666660; font-family: "Lato", sans-serif; font-size: 14px; font-weight: bold; line-height: 30px; padding: 10px 0; text-align: center; }
@media (min-width: 768px) { .meta__container { padding: 20px 0; text-align: left; } }
.meta__container a { color: #666660; border: none; }
.meta__container a:hover { border-bottom: 1px dotted #666660; }

@media (min-width: 768px) { .meta__info { float: right; } }
.meta__info > * { display: block; }
@media (min-width: 768px) { .meta__info > * { display: inline-block; } }

.meta__author img { border-radius: 50%; margin-right: 8px; margin-top: -2px; }
@media (min-width: 768px) { .meta__author { } }

@media (min-width: 768px) { .meta__comments { float: left; margin-left: 15px; } }

.hentry { margin-bottom: 30px; font-size: 16px; line-height: 1.65; color: #40454a; }
@media (min-width: 768px) { .hentry { margin-bottom: 45px; font-size: 20px; margin-top: 30px; } }

.hentry ul, .hentry ol { margin: 15px 0; }
@media (min-width: 768px) { .hentry ul, .hentry ol { margin-top: 30px; margin-bottom: 30px; } }
.hentry ul ul, .hentry ul ol, .hentry ol ul, .hentry ol ol { margin: 1% 0 2% 0; }
.hentry iframe, .hentry embed { width: 100%; }
.hentry .alignnone, .hentry img { max-width: 100%; height: auto; }
.hentry .alignleft { max-width: 100%; float: left; margin: 0 10px 10px 0; }
.hentry .alignright { max-width: 100%; float: right; margin: 0 0 10px 10px; }
.hentry .aligncenter { max-width: 100%; margin: 0 auto; display: block; }
.hentry .wp-caption { background-color: #f8f9fa; border: 1px solid #dfe2e4; padding: 4px; border-radius: 3px; margin-bottom: 10px; clear: both; }
.hentry .wp-caption-text { font-size: 13px; margin: 5px 0 0 0; text-align: center; }
.hentry p + h1, .hentry p + h2, .hentry p + h3, .hentry p + h4, .hentry p + h5, .hentry p + h6 { margin-top: 25px; }
@media (min-width: 768px) { .hentry p + h1, .hentry p + h2, .hentry p + h3, .hentry p + h4, .hentry p + h5, .hentry p + h6 { margin-top: 50px; } }

.tags { clear: both; }
.tags a { display: inline-block; border: 1px solid #51ab6d; border-radius: 30px; margin: 5px 5px; padding: 9.5px 20px; font-size: 14px; font-weight: bold; transition: all 0.1s linear; }
.tags a:hover { background-color: #51ab6d; color: #ffffff; }

.post-author img { border-radius: 50%; float: right; margin-left: 30px; }
.post-author h5 { margin: 30px 0 5px 0; }
.post-author .post-author__text { font-size: 14px; color: #666660; }


.widget_text hr { display: block; }

.widget_tag_cloud a { display: inline-block; border: 1px solid #51ab6d; border-radius: 30px; margin: 5px 5px; padding: 9.5px 20px; font-size: 14px; font-weight: bold; transition: all 0.1s linear; }
.widget_tag_cloud a:hover { background-color: #51ab6d; color: #fff; }
